<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% if @task.completed %>

  <i class="far fa-check-circle"></i>
  <%= @task.title %>

<% else %>
  <p><i class="far fa-circle"></i> <%= @task.title %></p>
<% end %>

<%= link_to "Edit task", edit_task_path %>
<%= link_to "Back to all tasks", tasks_path %>
